In [300]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [302]:
sales = pd.read_csv('WALMART_SALES_DATA.csv')
sales.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
5,1,12-03-2010,1439541.59,0,57.79,2.667,211.380643,8.106
6,1,19-03-2010,1472515.79,0,54.58,2.720,211.215635,8.106
7,1,26-03-2010,1404429.92,0,51.45,2.732,211.018042,8.106
8,1,02-04-2010,1594968.28,0,62.27,2.719,210.820450,7.808
9,1,09-04-2010,1545418.53,0,65.86,2.770,210.622857,7.808

In [304]:
sales.info() # no null values and gives total entires

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [306]:
# New Data set for each store (Testing code)
# df1 = sales.loc[sales['Store'] == 1]
# for df in pd.read_csv('WALMART_SALES_DATA.csv', chunksize = 143):
#     df.groupby(df['Store'])
#     print (df)

<h1>Representation of Statistics for each Store</h1>

In [319]:
total = sales.groupby(['Store']).describe()
total

      Weekly_Sales                                                        \
             count          mean            std         min          25%
Store
1            143.0  1.555264e+06  155980.767761  1316899.31  1458104.690
2            143.0  1.925751e+06  237683.694682  1650394.44  1803500.635
3            143.0  4.027044e+05   46319.631557   339597.38   367860.595
4            143.0  2.094713e+06  266201.442297  1762539.30  1929611.490
5            143.0  3.180118e+05   37737.965745   260636.71   294696.000
6            143.0  1.564728e+06  212525.855862  1261253.18  1456147.170
7            143.0  5.706173e+05  112585.469220   372673.61   497653.155
8            143.0  9.087495e+05  106280.829881   772539.12   855905.435
9            143.0  5.439806e+05   69028.666585   452905.22   506766.720
10           143.0  1.899425e+06  302262.062504  1627707.31  1740771.310
11           143.0  1.356383e+06  165833.887863  1100418.69  1267235.590
12           143.0  1.009002e+06  139166.871880   802105.50   940077.460
13           143.0  2.003620e+06  265506.995776  1633663.12  1877475.705
14           143.0  2.020978e+06  317569.949476  1479514.66  1873297.900
15           143.0  6.233125e+05  120538.652043   454183.42   565182.540
16           143.0  5.192477e+05   85769.680133   368600.00   466043.285
17           143.0  8.935814e+05  112162.936087   635862.55   817518.770
18           143.0  1.084718e+06  176641.510839   540922.94  1000578.875
19           143.0  1.444999e+06  191722.638730  1181204.53  1351960.260
20           143.0  2.107677e+06  275900.562742  1761016.51  1950865.580
21           143.0  7.560691e+05  128752.812853   596218.24   688848.930
22           143.0  1.028501e+06  161251.350631   774262.28   961476.045
23           143.0  1.389864e+06  249788.038068  1016756.10  1261918.815
24           143.0  1.356755e+06  167745.677567  1057290.41  1254316.770
25           143.0  7.067215e+05  112976.788600   558794.63   655484.635
26           143.0  1.002912e+06  110431.288141   809833.21   938053.050
27           143.0  1.775216e+06  239930.135688  1263534.86  1629423.370
28           143.0  1.323522e+06  181758.967539  1079669.11  1189278.470
29           143.0  5.394514e+05   99120.136596   395987.24   494461.215
30           143.0  4.385796e+05   22809.665590   369722.32   426070.460
31           143.0  1.395901e+06  125855.942933  1198071.60  1336419.660
32           143.0  1.166568e+06  138017.252087   955463.84  1098315.065
33           143.0  2.598617e+05   24132.927322   209986.25   242491.545
34           143.0  9.667816e+05  104630.164676   836717.75   920238.620
35           143.0  9.197250e+05  211243.457791   576332.05   801523.225
36           143.0  3.735120e+05   60725.173579   270677.98   320540.030
37           143.0  5.189003e+05   21837.461190   451327.61   507029.960
38           143.0  3.857317e+05   42768.169450   303908.81   350365.655
39           143.0  1.450668e+06  217466.454833  1158698.44  1316617.395
40           143.0  9.641280e+05  119002.112858   764014.75   896637.670
41           143.0  1.268125e+06  187907.162766   991941.73  1166352.440
42           143.0  5.564039e+05   50262.925530   428953.60   515975.955
43           143.0  6.333247e+05   40598.413260   505405.85   605517.605
44           143.0  3.027489e+05   24762.832015   241937.11   283882.235
45           143.0  7.859814e+05  130168.526635   617207.58   722791.565

                                           Holiday_Flag           ...  \
              50%          75%         max        count     mean  ...
Store                                                             ...
1      1534849.64  1614892.030  2387950.20        143.0  0.06993  ...
2      1879107.31  1956926.530  3436007.68        143.0  0.06993  ...
3       395107.35   420759.350   605990.41        143.0  0.06993  ...
4      2073951.38  2175038.910  3676388.98        143.0  0.06993  ...
5       310338.17   329860.580   507900.07        143.0  0.06993  ...
6      1524390.07  1624712.630  2727575.18        143.0  0.06993  ...
7       557166.35   621262.965  1059715.27        143.0  0.06993  ...
8       893399.77   929021.080  1511641.09        143.0  0.06993  ...
9       536537.64   560148.530   905324.68        143.0  0.06993  ...
10     1827521.71  1944110.595  3749057.69        143.0  0.06993  ...
11     1323243.35  1399331.755  2306265.36        143.0  0.06993  ...
12      981615.81  1048359.280  1768249.89        143.0  0.06993  ...
13     1958823.56  2041469.330  3595903.20        143.0  0.06993  ...
14     2004330.30  2125779.870  3818686.45        143.0  0.06993  ...
15      603318.89   641586.925  1368318.17        143.0  0.06993  ...
16      508520.09   567151.300  1004730.69        143.0  0.06993  ...
17      872817.62   939734.310  1309226.79        143.0  0.06993  ...
18     1060433.10  1134005.585  2027507.15        143.0  0.06993  ...
19     1408968.55  1487576.800  2678206.42        143.0  0.06993  ...
20     2053165.41  2155186.260  3766687.43        143.0  0.06993  ...
21      737014.09   772893.545  1587257.78        143.0  0.06993  ...
22      996628.80  1052934.265  1962445.04        143.0  0.06993  ...
23     1358444.07  1447164.650  2734277.10        143.0  0.06993  ...
24     1339630.35  1408801.300  2386015.75        143.0  0.06993  ...
25      685676.58   719413.100  1295391.19        143.0  0.06993  ...
26      996723.58  1055368.655  1573982.47        143.0  0.06993  ...
27     1731935.43  1872248.570  3078162.08        143.0  0.06993  ...
28     1266460.45  1451184.710  2026026.39        143.0  0.06993  ...
29      518628.42   552040.905  1130926.79        143.0  0.06993  ...
30      438068.71   451764.960   519354.88        143.0  0.06993  ...
31     1378340.18  1425429.195  2068942.97        143.0  0.06993  ...
32     1144901.52  1186362.775  1959526.96        143.0  0.06993  ...
33      258427.39   275235.705   331173.51        143.0  0.06993  ...
34      950154.24   979579.720  1620748.25        143.0  0.06993  ...
35      849779.14  1003065.690  1781866.98        143.0  0.06993  ...
36      373267.58   426489.915   489372.02        143.0  0.06993  ...
37      518124.16   530122.880   605791.46        143.0  0.06993  ...
38      380870.09   414198.140   499267.66        143.0  0.06993  ...
39     1416005.59  1520605.980  2554482.84        143.0  0.06993  ...
40      954233.87  1001262.930  1648829.18        143.0  0.06993  ...
41     1243814.77  1332054.255  2263722.68        143.0  0.06993  ...
42      556046.12   593055.140   674919.45        143.0  0.06993  ...
43      634815.10   659814.800   725043.04        143.0  0.06993  ...
44      298080.45   319938.180   376233.89        143.0  0.06993  ...
45      764014.06   801675.920  1682862.03        143.0  0.06993  ...

              CPI             Unemployment                               \
              75%         max        count       mean       std     min
Store
1      220.531330  223.444251        143.0   7.610420  0.383749   6.573
2      220.170572  223.078337        143.0   7.623846  0.615414   6.170
3      224.024518  226.987364        143.0   7.176986  0.447245   6.034
4      130.502414  131.193097        143.0   5.964692  1.421267   3.879
5      221.116529  224.037814        143.0   6.295406  0.387415   5.422
6      222.132816  225.068625        143.0   6.606902  0.529122   5.329
7      196.946586  199.219532        143.0   8.585734  0.429456   7.557
8      224.073391  227.036936        143.0   6.091846  0.362740   5.124
9      224.266502  227.232807        143.0   6.099881  0.463083   4.954
10     130.502414  131.193097        143.0   8.362965  0.843684   6.943
11     224.024518  226.987364        143.0   7.176986  0.447245   6.034
12     130.502414  131.193097        143.0  13.116483  1.208114  10.199
13     130.502414  131.193097        143.0   7.001825  0.881501   5.621
14     189.924736  192.330854        143.0   8.648748  0.151460   8.424
15     137.299707  138.911700        143.0   7.996252  0.193968   7.658
16     196.946586  199.219532        143.0   6.477993  0.353625   5.847
17     130.502414  131.193097        143.0   6.549406  0.325502   5.527
18     137.299707  138.911700        143.0   8.838301  0.437080   8.075
19     137.299707  138.911700        143.0   7.996252  0.193968   7.658
20     213.372861  216.151590        143.0   7.371413  0.305069   6.961
21     220.170572  223.078337        143.0   7.623846  0.615414   6.170
22     141.257411  142.937617        143.0   8.069371  0.368337   7.503
23     137.299707  138.911700        143.0   4.796014  0.545289   4.125
24     137.299707  138.911700        143.0   8.447014  0.288835   8.117
25     213.372861  216.151590        143.0   7.371413  0.305069   6.961
26     137.299707  138.911700        143.0   7.872070  0.410387   7.138
27     141.257411  142.937617        143.0   8.001748  0.164679   7.725
28     130.502414  131.193097        143.0  13.116483  1.208114  10.199
29     137.299707  138.911700        143.0   9.806385  0.515006   8.988
30     220.170572  223.078337        143.0   7.623846  0.615414   6.170
31     220.170572  223.078337        143.0   7.623846  0.615414   6.170
32     196.946586  199.219532        143.0   8.585734  0.429456   7.557
33     130.502414  131.193097        143.0   8.533154  0.963780   6.895
34     130.502414  131.193097        143.0   9.934804  0.479994   8.839
35     141.257411  142.937617        143.0   8.788573  0.184733   8.512
36     219.219647  222.113657        143.0   7.869049  0.702688   6.228
37     219.219647  222.113657        143.0   7.869049  0.702688   6.228
38     130.502414  131.193097        143.0  13.116483  1.208114  10.199
39     219.219647  222.113657        143.0   7.869049  0.702688   6.228
40     137.299707  138.911700        143.0   4.796014  0.545289   4.125
41     196.946586  199.219532        143.0   6.973378  0.396469   6.195
42     130.502414  131.193097        143.0   8.362965  0.843684   6.943
43     212.017128  214.741539        143.0   9.934804  0.479994   8.839
44     130.502414  131.193097        143.0   6.735622  0.958148   5.217
45     189.924736  192.330854        143.0   8.648748  0.151460   8.424


          25%     50%     75%     max
Store
1       7.348   7.787   7.838   8.106
2       7.057   7.931   8.099   8.324
3       6.833   7.346   7.564   7.574
4       4.607   5.946   7.127   8.623
5       5.943   6.489   6.529   6.768
6       6.132   6.858   6.973   7.259
7       8.256   8.622   8.963   9.137
8       5.825   6.290   6.315   6.433
9       5.667   6.384   6.416   6.560
10      7.545   8.494   9.003   9.765
11      6.833   7.346   7.564   7.574
12     12.187  13.736  14.099  14.313
13      6.104   7.193   7.795   8.316
14      8.523   8.625   8.724   8.992
15      7.806   8.067   8.150   8.350
16      6.169   6.339   6.842   7.039
17      6.403   6.635   6.774   6.885
18      8.471   8.975   9.269   9.342
19      7.806   8.067   8.150   8.350
20      7.139   7.287   7.484   8.187
21      7.057   7.931   8.099   8.324
22      7.706   8.252   8.433   8.572
23      4.261   4.781   5.287   5.892
24      8.212   8.326   8.659   8.983
25      7.139   7.287   7.484   8.187
26      7.489   7.818   8.149   8.512
27      7.850   8.009   8.058   8.253
28     12.187  13.736  14.099  14.313
29      9.357   9.966  10.256  10.524
30      7.057   7.931   8.099   8.324
31      7.057   7.931   8.099   8.324
32      8.256   8.622   8.963   9.137
33      7.603   8.687   9.265  10.115
34      9.575   9.816  10.398  10.641
35      8.684   8.763   8.861   9.262
36      7.244   8.300   8.395   8.554
37      7.244   8.300   8.395   8.554
38     12.187  13.736  14.099  14.313
39      7.244   8.300   8.395   8.554
40      4.261   4.781   5.287   5.892
41      6.589   6.934   7.335   7.541
42      7.545   8.494   9.003   9.765
43      9.575   9.816  10.398  10.641
44      5.774   6.906   7.610   8.119
45      8.523   8.625   8.724   8.992

[45 rows x 48 columns]

<h1>Finding the store with maximum sales</h1>

In [312]:
stores_df = sales.groupby(['Store'])
stores_df.sum(numeric_only=True).sort_values("Weekly_Sales", ascending = False).head()

,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
Store,,,,,,
20,3.013978e+08,10,7929.55,488.718,29892.452680,1054.112
4,2.995440e+08,10,8902.23,460.027,18401.192733,852.951
14,2.889999e+08,10,8264.11,488.718,26638.851959,1236.771
13,2.865177e+08,10,7678.69,469.919,18401.192733,1001.261
2,2.753824e+08,10,9754.94,460.417,30837.422420,1090.210

<h1>Find the stores with highest Standard Deviation and Coefficient of Variation</h1>

<p>Below are two ways to find the std and CV%</p>
<br>
<p>This method is first attempt without .agg('std') method</p>

In [315]:
# keep the columns of std and mean
std_total = total['Weekly_Sales'].drop(columns = ['count','min','25%', '50%', '75%','max']).sort_values('std', ascending = False)

# find the coefficient of variation within sales
std_total['mean'] = round((std_total['std']/std_total['mean']) * 100,2)

# rename columns to improve readability
std_total.rename(columns = {'std':'Sales std','mean':'CV%'}, inplace = True)

# Swap columns
std_total.head().reindex(columns = ['Sales std', 'CV%'])

           Sales std    CV%
Store
14     317569.949476  15.71
10     302262.062504  15.91
20     275900.562742  13.09
4      266201.442297  12.71
13     265506.995776  13.25

In [424]:
# Takes the aggregate std of Weekly_Sales
std_sales = sales.groupby('Store')['Weekly_Sales'].agg('std').reset_index()

# Renames the column to reflect change
std_sales.rename(columns = {'Weekly_Sales': 'Sales std'},inplace = True)

# Takes the aggregate mean of Weekly_Sales
mean = sales.groupby('Store')['Weekly_Sales'].agg('mean').reset_index()

# Renames the column to reflect change
mean.rename(columns = {'Weekly_Sales': 'Mean_Sales'},inplace = True)

# Adds a column name CV% and the values for each store
std_sales["CV%"] = round((std_sales['Sales std']/mean['Mean_Sales']) * 100,2)
std_sales.sort_values(['Sales std'], ascending = False).head()

    Store      Sales std    CV%
13     14  317569.949476  15.71
9      10  302262.062504  15.91
19     20  275900.562742  13.09
3       4  266201.442297  12.71
12     13  265506.995776  13.25

<h1>Quarter 3 earnings in 2012</h1>

In [543]:
# Fixes the date values
sales['Date'] = pd.to_datetime(sales['Date'], dayfirst = True
                              
# Dataframe of all sales in the 3rd Quarter of 2012
Q3 = sales.loc[(sales['Date'] >= '2012-07-01') & (sales['Date'] <= '2012-09-30')]

# Dataframe of the sales in the beginning and the end of the quarter
Q3_start = Q3.loc[Q3['Date'] == '2012-07-06'].reset_index(drop = True)
Q3_end = Q3.loc[Q3['Date'] == '2012-09-28'].reset_index(drop = True)

# New Dataframe for the growth
Q3_growth = Q3_start[['Store', 'Weekly_Sales']].copy()
Q3_growth.rename(columns = {'Weekly_Sales': 'Start_value'}, inplace = True)
Q3_growth['End_value'] = Q3_end['Weekly_Sales']
Q3_growth['Growth %'] = (Q3_growth['End_value'] - Q3_growth['Start_value'])/(Q3_growth['Start_value'])*100
Q3_growth.sort_values('Growth %', ascending = False).head()

    Store  Start_value   End_value  Growth %
36     37    519498.32   527953.14  1.627497
43     44    358461.58   355307.94 -0.879771
29     30    440553.42   425410.04 -3.437354
31     32   1214183.97  1157111.15 -4.700508
2       3    411206.50   389813.02 -5.202612

<h1>Holidays which have higher sales than the mean sales in non-holiday season for all stores together</h1>

In [556]:
# Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
# Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
# Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
# Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13
super_bowl = sales[sales['Date'].isin(['2010-02-12','2011-02-11','2012-02-10'])]
labour_day = sales[sales['Date'].isin(['2010-09-10','2011-09-09','2012-09-07'])]
thanksgiving = sales[sales['Date'].isin(['2010-11-26','2011-11-25','2012-11-29'])]
christmas = sales[sales['Date'].isin(['2010-12-31','2011-12-30','2012-12-28'])]

normal_days = [sales['Weekly_Sales'].mean(numeric_only = True)]
normal_days

C:\Users\samue\AppData\Local\Temp\ipykernel_37388\3947248261.py:5: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  super_bowl = sales[sales['Date'].isin(['2010-02-12','2011-02-11','2012-02-10'])]
C:\Users\samue\AppData\Local\Temp\ipykernel_37388\3947248261.py:6: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  labour_day = sales[sales['Date'].isin(['2010-09-10','2011-09-09','2012-09-07'])]
C:\Users\samue\AppData\Local\Temp\ipykernel_37388\3947248261.py:7: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  thanksgiving = sales[sales['Date'].isin(['2010-11-26','2011-11-25','2012-11-29'])]
C:\Users\samue\AppData\Local\Temp\ipykernel_37388\3947248261.py:8: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  christmas = sales[sales['Date'].isin(['2010-12-31','2011-12-30','2012-12-28'])]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
53,1,2011-02-11,1649614.93,1,36.39,3.022,212.936705,7.742
105,1,2012-02-10,1802477.43,1,48.02,3.409,220.265178,7.348
144,2,2010-02-12,2137809.50,1,38.49,2.548,210.897994,8.324
196,2,2011-02-11,2168041.61,1,33.19,3.022,212.592862,8.028
...,...,...,...,...,...,...,...,...
6202,44,2011-02-11,307486.73,1,30.83,3.034,127.859129,7.224
6254,44,2012-02-10,325377.97,1,33.73,3.116,130.384903,5.774
6293,45,2010-02-12,656988.64,1,27.73,2.773,181.982317,8.992
6345,45,2011-02-11,766456.00,1,30.30,3.239,183.701613,8.549
6397,45,2012-02-10,803657.12,1,37.00,3.640,189.707605,8.424